header {
    background-color: orange;
    justify-content: center;
    display: flex;
    width: 100%
}

main {
    background-color: aqua;
    display: flex;
    width: 100%;
}

footer {
    position: absolute;
    justify-content: center;
    bottom: 1px;
    width: 100%;
    background-color: blue;
}