html {
    background-color: #ffa756;
}

header {
    background-color: #22577a;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    border-radius: 25px;
}

.play-button-area {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    text-align: center;
   }
   
.btn {
       display: inline-block;
       background-color:black;
       border-radius: 50%;
       box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
       color: white;
       padding: 10px 10px;
       margin: 4px 2px;
       font-size: 20px;
   }
   
.btn:hover {
       color: red;
   }

.game-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
    margin-top: 10px;
    background-color: #38a3a5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    border-radius: 25px;

}

.player1 {
    display: flex;
    position: relative;
    width: 70%;
    height: 200px;
    border-radius: 50%;
    background-color: #80ed99;
    margin-top: 70px;
    margin-left: 15%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

label {
    display: block;
    width: 130px;
}

.player1-options {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: -300px;
}

.player1-score {
    display: flex;
    position: inherit;
    height: 50px;
    width: 100%;
    margin-top: -35px;
    margin-left: -55%;
}

.computer {
    display: flex;
    position: relative;
    width: 70%;
    height: 200px;
    border-radius: 50%;
    background-color: #c7f9cc;
    margin-top: 100px;
    margin-left: 15%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);

}

.computer-score {
    display: flex;
    position: inherit;
    height: 50px;
    width: 100%;
    margin-top: -35px;
    margin-left: 30%;
}

footer {
    background-color: #57cc99;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    border-radius: 25px;
}

footer > a {
    text-decoration: none;
    justify-content: center;
    font-size: 40px;
    color: black;
}

@media screen and (min-width: 992px) {
    .btn {
        font-size: 50px;
    }

    .game-area {
        flex-direction: row;
        height: 700px;
    }

    .player1 {
        height: 500px;
        margin-top: 150px;
        left: -8%;
    }

    .player1-options {
        margin-top: -750px;
        margin-left: 100%;
    }

    .player1-score {
        margin-top: -80px;
        margin-left: -140%;
    }

    .player1-score > p {
        font-size: 30px;
    }

    .computer-score {
        margin-top: -80px;
        margin-left: 30%; 
    }

    .computer-score > p {
        font-size: 30px;
    }

    label {
        display: block;
        width: 130px;
    }

    .computer {
        height: 500px;
        margin-top: 150px;
        left: -8%;
    }
}


