header {
    background-color: orange;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

main {
    background-color: aqua;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: rgb(173, 173, 194);
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 10px;
    width: 374.4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

footer > a {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.game-area {
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 100px;
}

.btn {
    background-color:chartreuse;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 50px;
    cursor: pointer;
}

